/* Gobal CSS */
.body{
    font-family: 'Work Sans', sans-serif;
}


/* Nav bar Css */
.header-content{
    background-color:rgba(255, 144, 14, 0.10);
    
  
}
.nav-container{
    display: flex;
    width: 80%;
    /* padding: 20px 150px; */
    margin: 0 auto;
    justify-content: space-between;
}
.nav-container h2{
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;  
}
.nav-container ul{
    display: flex;
    list-style: none;
    align-items: center;
} 
.nav-container li a{
    text-decoration: none;
    margin-right: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
/* Banner CSS */
.banner-container{
    max-width: 90rem;
    margin: 0 auto;
    margin-top: 60px;
    
}
.banner-items{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-items h1{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}
.banner-items p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}
.btn{
    border: none;
    padding: 10px 30px;
    background-color: #FF900E;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}
.btn p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}
.banner-img{
    margin-bottom: 50px;
    
}
.banner-img img{
    width: 100%;
}

/* Feture Section */
.feture{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.feture-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.feture-conten{
    width: 50%;
}
.feture-1{
    color: var(--dark-03, #727272);
    font-size: 2.813rem;
    font-weight: 500;

}
.feture-2{
    color: var(--dark-01, #131313);
    font-size: 2.813rem;
    font-weight: 700;
}
.feture-3{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;  
}
.feture-conten p{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
/* Self section */
.self-feture{
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.self-cotainer{
    display: flex;
    gap: 100px;
}
.self-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.self-content h3{
    color: var(--dark-01, #131313);
    font-size: 2.813rem;
    border-left: 5px solid #FF900E ;
    padding-left: 10px;
}
.self-content p{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.self-block{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    /* width: 90%; */
    padding: 20px;
    margin-top: 10px;
}
.self-block h6{
    color: var(--dark-01, #131313);
    font-size: 1.25rem;
    font-weight: 600;
}
.self-block p{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
}
.self-image{
    margin: 0;
    flex: 1;
}
.self-image img{
    height: 90%;
    width: 100%;
    object-fit: cover;

}
.block{
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 342px;
    position: relative;
    bottom: 200px;
    right: 50px;
}
.block h3{
    font-size: 4rem;
    font-weight: 700;
}
.block p{
    font-size: 1.5rem;
    font-weight: 500;
}



/* Responsive Style */
/* mobile respo5nsive */
@media screen and (max-width:576px) {
    /* Nav section and banner */
    .nav-container{
        flex-direction: column;
         
    }S
    .nav-container h2 {
        margin-left: 53px;
    }
    .banner-img img{
        margin-bottom: 50px;
    }
    .nav-container{
        width: 100%;

    }
    /*  feture sectio*/
    
    .feture{
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    }
    .feture-img{
        grid-template-columns: repeat(1,1fr);
        /* gap: 5px; */
        width: 100%;
        
    }
    /* Self Feture Section */
    .self-cotainer{
        flex-direction: column;
    }
    .self-image img{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .block{
        /* width: 100px; */
        width: 100%;
    }

    
}

/* Tablate Reponsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
    }
    /* Feture section */
    .feture{
        flex-direction:column-reverse;
        text-align: center;
    }
    /* Self Section */
    .self-cotainer{
        flex-direction: column;
    }
    .self-content {
        flex-direction: column;

    }
    .self-blocks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
